/*** Media ***
- Mobile: 375px
- Desktop: 1440px
*/

/*** General Styles ***/
@charset "UTF-8";

:root {
	--very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--soft-red: hsl(14, 88%, 65%);
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);
	/* Text */
	--very-dark-grayish-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);
	/* Dividers */
	--light-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: grid;
	place-content: center;
	max-width: 1440px;
}

img {
	display: block;
	max-width: 100%;
}

.attribution {
	margin-top: 10px;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: white;
}

/*** Page Styles ***/
body {
	background: linear-gradient(var(--soft-violet), var(--soft-blue));
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 12px;
	padding: 20px;
}

main {
	max-width: 1200px;
}

.card {
	background-color: white;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.445);
	display: flex;
	justify-content: space-between;
	gap: 60px;
	width: 80em;
	height: 40em;
	margin: 0 auto;
	border-radius: 25px;
}

.card .image,
.card .content {
	flex: 1 1 50%;
}

.card .image {
	position: relative;
}

.card .image-desktop .inner {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.card .image .woman,
.card .image .pattern,
.card .image-desktop .box {
	position: absolute;
}

.card .image-desktop .woman {
	top: 50%;
	transform: translate(-15%, -50%);
}

.card .image-desktop .pattern {
	transform: scale(2.1) translate(-35%, -4%);
}

.card .image-desktop .box {
	top: 205px;
	left: -83px;
}

.card .image-desktop .box img {
	width: 90%;
}

.card .content {
	padding: 60px 30px;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.card .content .faq-title {
	color: var(--very-dark-desaturated-blue);
	font-size: 3em;
}

.card .content .faq-list {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.card .content .faq-list .faq {
	display: flex;
	flex-direction: column;
	padding: 5px;
	border-bottom: 1px solid var(--light-grayish-blue);
	display: block;
	width: 90%;
}

.card .content .faq-list .faq .question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
	cursor: pointer;
	color: var(--very-dark-grayish-blue);
}

.card .content .faq-list .faq .question:hover {
	color: var(--soft-red);
}

.card .content .faq-list .faq .question .arrow {
	transform: rotate(0deg);
	transition: 0.5s;
}

.card .content .faq-list .faq .answer {
	display: none;
	color: var(--dark-grayish-blue);
	font-size: 0.9em;
}

.card .content .faq-list .faq.active .question {
	color: var(--very-dark-desaturated-blue);
	font-weight: bold;
}

.card .content .faq-list .faq.active .question .arrow {
	transform: rotate(180deg);
}

.card .content .faq-list .faq.active .answer {
	display: block;
}

/* Large Screens */
@media (min-width: 769px) {
	.image-desktop {
		display: block;
	}
	.image-mobile {
		display: none;
	}
}

/* Medium Screens */
@media (max-width: 997px) {
	.card {
		width: 60em;
		height: 38em;
	}

	.card .image-desktop .box {
		top: 215px;
		left: -60px;
	}

	.card .image-desktop .box img {
		width: 65%;
	}

	.card .content {
		padding: 30px;
	}
}

/* Small Screens */
@media (max-width: 768px) {
	.card {
		flex-direction: column;
		position: relative;
		width: 30em;
		height: 42em;
		margin-top: 5.5em;
		gap: 0;
	}

	.image-desktop {
		display: none;
	}

	.image-mobile {
		display: block;
		flex: 1 1 15% !important;
	}

	.image-mobile .illustration {
		position: absolute;
		width: 100%;
		top: -90%;
		left: 25%;
	}

	.image-mobile .illustration img {
		width: 50%;
	}

	.card .content {
		padding-top: 2em;
		padding-bottom: 1em;
		margin-top: -2em;
		flex: 1 1 85%;
	}

	.card .content .faq-title {
		text-align: center;
	}
}
